
body{
    background-color: rgba(0, 0, 0, 0.055);
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

p {
   margin-top: auto;
   margin-bottom: auto;
   text-align: left;
}
.headercontainer{
    background-color: rgb(255, 255, 255);
    height: 20px;
    padding-bottom: 50px;

}

#menu{
    margin-top:25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 10px;
}

.menu{
    padding-top: 50px;
    padding-bottom: 20px;
}

.banner_container{
    display: flex;
    justify-content: center;
    height: 250px;
}

#banner{
    width: 1300px;
    height: 300px;
    object-fit:cover;
    border: 2px solid white;
}

.top3_items{
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px;
  
}
.item_image_container{
    padding: 5px;
    display: flex;
}

.item_image{
    width: 150px;
    height: 150px;
    object-fit:cover;
    border-radius: 5%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top3_items::-webkit-scrollbar {
    display: none;
}

.carousel_container{
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    scrollbar-width: none;
    padding-bottom: 10px;
}
.carousel_container::-webkit-scrollbar {
    display: none;
}
.carrusel_items{
    border-radius: 5%;
    padding: 5px;
}

#carousel_image{
    height: 150px;
    width: 300px;
    object-fit:cover;
    border-radius: 5px 5px 0px 0px;
}

.item_container{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    padding-bottom: 5px;
    background-color: azure;
    border-radius: 5px;
    height: 200px;
    width: 300px;
}

.text_price_field{
    display: flex;
}
.pricenow_after{
    margin-top: 10px;
    display: flex;
    font-size: 10px;
}

.pricenow{
    overflow: hidden;
    padding-left: 10px;
    font-weight: 800;
    align-items: center;
    text-align: left;
    width: auto;
    height: 50px;
    font-size: 30px;
}

.priceafter{
    padding-left: 10px;
    text-align: center;
    text-decoration: line-through;
    width: 50px;
    height: 50px;
    font-size: 21px;
}


.texto{
    padding: 5px;
    text-align: center;
    width: 100%;
    font-size: 0.875em;
}

#text_title{
    font-weight: 800;
}




@media only screen and (max-width: 600px){

    #banner{
        width: 900px;
        height: 250px;
    }

}

h3{
    font-size: 21px;
    margin-bottom: 10px;
}